---

---

<wrapper>
  <a href="/creativedirection" class="button">Creative<span>Direction</span></a>
  <a href="/visualeffects" class="button">Visual<span>Effects</span></a>
  <a href="/digitaldesign" class="button"><span>Digital</span>Design</a>
</wrapper>

<style>
  *{
  margin: 0px;
  padding: 0px;
  outline: none;
  text-decoration: none;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-smooth: always;
}

body {
   background: #eee;
}

wrapper {
   display: block;
   margin: 50px auto;
   width: 100%;
   text-align: center;
}

wrapper:hover > *,
wrapper:focus-within > *{
  opacity: 0.2;
  letter-spacing: -4px;
}

h1 {
   font-size: 200%;
   margin-bottom: 20px;
   color: #aaa;
   text-shadow: 0px 1px 0px #fff;
   font-weight: 300;
}

.button {
   display: inline-block;
   border: none;
   margin: 0;
   font-weight: 200;
   font-size: 2em;
   text-transform: uppercase;
   cursor: pointer;
   letter-spacing: normal;
   transition: all .5s ease-in-out;
}

.button > span {
  opacity: 0;
  margin: 0;
  letter-spacing: -.5em;
  transition: all .5s ease-in-out;
}

wrapper:hover > .button:hover , wrapper:focus-within > .button:focus-within{
  opacity: 1;
  letter-spacing: 0.2em;
}

wrapper:hover > .button:hover > span, wrapper:focus-within > .button:focus-within > span {
  opacity: 1;
  padding: 0 .5em;
  letter-spacing: 0.2em;
}
</style>
