---
import { ViewTransitions } from 'astro:transitions'
import MainMenu from '../../components/MainMenu.astro'
const { title, url } = Astro.props
---
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={new URL(`http://erikhals.com${url}`, Astro.site).pathname} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <ViewTransitions />
	</head>
	  <body>
      <nav>
        <a href="/">Erik Hals</a>
        <MainMenu category={url}/>
        <a href="/" class="right">Contact</a>
      </nav>

      <main transition:animate="slide">
        <slot/>
      </main>
    </body>
  </html>

  <style>
    *, *::before, *::after {
      box-sizing: border-box;
    }
    * {
      font-family: sans-serif;
      margin: 0;
    }
    body {
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
    }

    img, picture, video, canvas, svg {
      display: block;
      max-width: 100%;
    }

    input, button, textarea, select {
      font: inherit;
    }
    nav {
      display: flex;
      width: 100%;
    }
    nav a{
      font-family: sans-serif;
      color: #000;
      text-decoration: none;
      width: 50%;
    }

    .right{
      text-align: right;
    }
  </style>
