---
import type { InferGetStaticParamsType } from 'astro'
import { getProjects, getProject } from '../../utils/sanity'

export async function getStaticPaths() {
  const projects = await getProjects()
  
  return projects.map(({slug, title}) => {
    return {
      params: {slug: slug.current},
      props: {title}
    }
  });
}

const { slug } = Astro.params
const { title } = Astro.props

---

<h1>{title}</h1>