---
import { sanityClient } from 'sanity:client'
import BaseLayout from '../layouts/BaseLayout.astro'
import { type Project } from '../../utils/sanity'
import { urlForImage } from '../../utils/urlForImage'

const category = await sanityClient.fetch(`*[_type == "category" && title == "Creative Direction"][0]{
  _id, title,
  "projects": *[_type == "project" && references(^._id) && featured == true]
} `)

---
<BaseLayout title="Erik Hals - Creative Direction" url="/creativedirection">
  { category.projects && <ul>
    { category.projects.map((project: Project) => (
      <li>
        <a href={project.slug.current}>
            {project.title}
            {
              project.mainImage ? (
              <img
              transition:name={project.title}
              class="card__cover"
              src={urlForImage(project.mainImage).width(500).height(300).url()}
              alt="Cover image"
              />
            ) : (
              <div class="card__cover--none" />
            )
          }
        </a>
      </li>
    ))}
    </ul>
  }
</BaseLayout>
