---
import BaseLayout from '../layouts/BaseLayout.astro'
import NavMenu from '../../components/NavMenu.astro'
---

<BaseLayout title="Home Page" url="http://erikhals.com">
		<h1>ERIK HALS</h1>
    <NavMenu />
</BaseLayout>

<style>
  h1 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 2em;
  }

</style>
