.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "topLeft topRight"
    "left right"
    "lowLeft lowRight";
  grid-gap: 1em;
  color: inherit;
  text-decoration: none;
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
  margin-top: 0;
}

.leadMediaThumb {
  position: relative;
  padding-bottom: 66.666%;
  background: #eee;
  grid-area: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.leadMediaThumbRight {
  position: relative;
  padding-bottom: 66.666%;
  background: #eee;
  grid-area: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.titleBlockLeft {
  grid-area: lowLeft;
}

.titleBlockRight {
  grid-area: lowRight;
}
.skillBlockLeft {
  grid-area: left;
  text-align: right;
}

.skillBlockRight {
  grid-area: right;
}

.softwareBlockRight {
  grid-area: topLeft;
  @nest & img {
    display: inline-block;
    float: left;
    margin: 0px 5px;
    width: 2em;
    height: 2em;
  }
}

.softwareBlockLeft {
  grid-area: topRight;
  @nest & img {
    display: inline-block;
    float: right;
    margin: 0px 5px;
    width: 2em;
    height: 2em;
  }
}

.title {
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 600;
  }
}
